/*Breakpoints*/
@font-face {
  font-family: "super-funky";
  src: url(/src/fonts/super-funky-font/SuperFunky-lgmWw.ttf);
}
@font-face {
  font-family: "nugo-sans";
  src: url(/src/fonts/nugo-sans-font/NugoSansLight-9YzoK.ttf);
}
@font-face {
  font-family: "qestrafin";
  src: url(/src/fonts/qestrafin-font/Qestrafin-ax0RE.otf);
}
@font-face {
  font-family: "archivo-black";
  src: url(./../fonts/Archivo-black/Archivo_Black/ArchivoBlack-Regular.ttf);
}
@keyframes shake {
  20% {
    transform: rotate(25deg);
  }
  40% {
    transform: rotate(-25deg);
  }
  60% {
    transform: rotate(25deg);
  }
  80% {
    transform: rotate(-25deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgb(66, 47, 59);
  background: linear-gradient(90deg, rgb(66, 47, 59) 0%, rgb(66, 64, 95) 50%, rgb(47, 42, 58) 100%);
}
* body #header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  height: 75px;
  position: fixed;
  top: 0;
  /*  background-color: #FFCDCF; */
}
@media screen and (min-width: 768px) {
  * body #header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 2rem;
  }
}
* body #header #nav-menu {
  font-family: "nugo-sans";
  font-size: 12px;
  display: none;
}
@media screen and (min-width: 360px) {
  * body #header #nav-menu {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  * body #header #nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    font-size: 20px;
  }
}
* body #header #nav-menu.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3rem;
  left: 0;
  position: absolute;
  top: 75px;
  background-color: #fec8ca;
  opacity: 90%;
  transition: 0.3s;
}
* body #header #nav-menu.active .nav-item {
  margin: 20px;
}
* body #header #nav-menu .nav-item {
  list-style: none;
}
* body #header #nav-menu .nav-item .navLinks {
  text-decoration: none;
  color: #2f2a3a;
  transition: color 0.3s;
}
* body #header #nav-menu .nav-item .navLinks:hover {
  cursor: pointer;
  text-shadow: 4px 4px 6px;
  color: #6d70a6;
}
* body #header #socialHam {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  gap: 1rem;
}
@media screen and (min-width: 360px) {
  * body #header #socialHam {
    width: 25%;
  }
}
@media screen and (min-width: 768px) {
  * body #header #socialHam {
    width: 15%;
  }
}
* body #header #socialHam #socialIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1;
  gap: 1rem;
  padding-right: -50px;
}
* body #header #socialHam #socialIcons .fa {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  font-size: 1.7rem;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
  color: #2f2a3a;
}
* body #header #socialHam #socialIcons .fa:hover {
  outline-offset: 3px;
  animation: shake 1.5s;
  font-size: 1.9rem;
  color: #6d70a6;
  outline: 0.1rem solid #6d70a6;
}
* body #header #socialHam #hamburger {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  * body #header #socialHam #hamburger {
    display: none;
  }
}
* body #header #socialHam #hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: #2f2a3a;
}
* body #header #socialHam .active .bar:nth-child(2) {
  opacity: 0;
}
* body #header #socialHam .active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
* body #header #socialHam .active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
* body main {
  width: 100vw;
}
* body main .sections {
  min-height: 100vh;
}
* body main #home {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  background-image: url(./../img/mountains-1412683_1280.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  /* #roles {
    padding-bottom: 1.5rem;
    font-family: "nugo-sans";
    font-size: 18px;
    color: #ff5757;
  } */
}
* body main #home #me {
  padding: 50px;
  font-family: archivo-black;
  font-size: 75px;
  color: #fec8ca;
}
* body main #home #me h3 {
  font-family: archivo-black;
  font-size: 16px;
  margin: 10px;
  letter-spacing: 3px;
}
* body main #projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
* body main #projects #projectsHeading {
  font-family: "archivo-black";
  font-size: 40px;
  color: #fec8ca;
  padding: 30px;
  font-weight: lighter;
  width: 100%;
}
* body main #projects #projectsCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
  gap: 2rem;
}
* body main #projects #projectsCardContainer .projectCards {
  width: 200px;
  height: 300px;
  background-color: #2f2a3a;
  border-radius: 5%;
  box-shadow: 10px 10px 5px 0px rgba(51, 45, 61, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(51, 45, 61, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(51, 45, 61, 0.75);
  /* .projectCards {
    .modal {
      display: none; //Hidden by default
      position: fixed; //Stay in place
      z-index: 1; //Sit on top
      left: 0;
      top: 0;
      width: 100%; //Full width
      height: 100%; //Full height
      overflow: auto; //Enable scroll if needed
      background-color: rgb(0, 0, 0); //Fallback color
      background-color: rgba(0, 0, 0, 0.4); //Black w/ opacity

      .modal-content {
        background-color: #fefefe;
        margin: 15% auto; //15% from the top and centered
        padding: 20px;
        border: 1px solid #888;
        width: 80%; //Could be more or less, depending on screen size
      }

      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }
  } */
}
* body main #projects #projectsCardContainer .projectCards .project_heading {
  font-family: "archivo-black";
  font-size: 17px;
  color: #fec8ca;
  font-weight: 100;
  text-align: center;
  padding: 15px;
}
* body main #projects #projectsCardContainer .projectCards:hover {
  cursor: pointer;
  font-size: 30px;
  background-color: #45487a;
  width: 250px;
  height: 350px;
  transition: 1s;
}
* body main #about #aboutHeading {
  font-family: "archivo-black";
  font-size: 40px;
  color: #fec8ca;
  padding: 30px;
  font-weight: lighter;
}
* body main #contact #contactHeading {
  font-family: "archivo-black";
  font-size: 40px;
  color: #fec8ca;
  padding: 30px;
  font-weight: lighter;
}/*# sourceMappingURL=style.css.map */