@use "variables" as v;

@mixin for-size($size) {
  @if $size == tablet {
    @media screen and (min-width: v.$tablet) {
      @content;
    }
  }
  @if $size == desktop {
    @media screen and (min-width: v.$destop) {
      @content;
    }
  }
}
//flytta till egen fil?
@font-face {
  font-family: "super-funky";
  src: url(/src/fonts/super-funky-font/SuperFunky-lgmWw.ttf);
}

@font-face {
  font-family: "nugo-sans";
  src: url(/src/fonts/nugo-sans-font/NugoSansLight-9YzoK.ttf);
}

@font-face {
  font-family: "qestrafin";
  src: url(/src/fonts/qestrafin-font/Qestrafin-ax0RE.otf);
}

@font-face {
  font-family: "archivo-black";
  src: url(./../fonts/Archivo-black/Archivo_Black/ArchivoBlack-Regular.ttf);
}

@keyframes shake {
  20% {
    transform: rotate(25deg);
  }
  40% {
    transform: rotate(-25deg);
  }
  60% {
    transform: rotate(25deg);
  }
  80% {
    transform: rotate(-25deg);
  }
}

//Bör flytta till egen mixin fil
@mixin font($fontFamily, $fontSize) {
  font-family: $fontFamily;
  font-size: $fontSize;
}

@mixin sectionHeadings {
  font-family: "archivo-black";
  font-size: 40px;
  color: #fec8ca;
  padding: 30px;
  font-weight: lighter;
}

@mixin flex($fd, $jc, $ai, $w) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  width: $w;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  body {
    @include flex(column, center, center, 100%);
    background: rgb(66, 47, 59);
    background: linear-gradient(
      90deg,
      rgba(66, 47, 59, 1) 0%,
      rgba(66, 64, 95, 1) 50%,
      rgba(47, 42, 58, 1) 100%
    );

    #header {
      @include flex(row, space-between, center, 100%);
      padding: 20px;
      height: 75px;
      position: fixed;
      top: 0;
      /*  background-color: #FFCDCF; */

      @include for-size(desktop) {
        @include flex(row, space-around, center, 100%);
        gap: 2rem;
      }

      #nav {
        &-menu {
          @include font("nugo-sans", 12px);
          display: none;

          @include for-size(tablet) {
            font-size: 18px;
          }

          @include for-size(desktop) {
            @include flex(row, center, center, 100%);
            gap: 2rem;
            font-size: 20px;
          }

          &.active {
            @include flex(column, center, center, 100%);
            gap: 3rem;
            left: 0;
            position: absolute;
            top: 75px;
            background-color: #fec8ca;
            opacity: 90%;
            transition: 0.3s;

            .nav-item {
              margin: 20px;
            }
          }

          .nav-item {
            list-style: none;

            .navLinks {
              text-decoration: none;
              color: #2f2a3a;
              transition: color 0.3s;

              &:hover {
                cursor: pointer;
                text-shadow: 4px 4px 6px;
                color: #6d70a6;
              }
            }
          }
        }
      }
      #socialHam {
        @include flex(row, center, center, 30%);
        gap: 1rem;

        @include for-size(tablet) {
          width: 25%;
        }

        @include for-size(desktop) {
          width: 15%;
        }
        #socialIcons {
          @include flex(row, center, center, 1);
          gap: 1rem;
          padding-right: -50px;

          .fa {
            @include flex(row, center, center, 100%);
            flex-wrap: wrap;
            font-size: 1.7rem;
            text-align: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            transition-property: outline-offset, outline-color, background-color;
            transition-duration: 0.25s;

            color: #2f2a3a;
            //outline: 0.1rem solid #2f2a3a;

            &:hover {
              outline-offset: 3px;
              animation: shake 1.5s;
              font-size: 1.9rem;


              color: #6d70a6;
              outline: 0.1rem solid #6d70a6;
            }
          }
        }

        #hamburger {
          cursor: pointer;

          @include for-size(desktop) {
            display: none;
          }

          .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px 0;
            transition: all 0.3s ease;
            background-color: #2f2a3a;
          }
        }
        .active {
          .bar {
            &:nth-child(2) {
              opacity: 0;
            }
            &:nth-child(1) {
              transform: translateY(8px) rotate(45deg);
            }
            &:nth-child(3) {
              transform: translateY(-8px) rotate(-45deg);
            }
          }
        }
      }
    }

    main {
      width: 100vw;
      .sections {
        min-height: 100vh;
      }
      #home {
        @include flex(column, flex-end, flex-start, 100%);
        background-image: url(./../img/mountains-1412683_1280.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100vh;

        #me {
          padding: 50px;
          @include font(archivo-black, 75px);
          color: #fec8ca;

          h3 {
            @include font(archivo-black, 16px);
            margin: 10px;
            letter-spacing: 3px;
          }
        }

        /* #roles {
          padding-bottom: 1.5rem;
          font-family: "nugo-sans";
          font-size: 18px;
          color: #ff5757;
        } */
      }
      #projects {
        @include flex(row, center, center, 100%);
        flex-wrap: wrap;

        #projectsHeading {
          @include sectionHeadings();
          width: 100%;
        }
        #projectsCardContainer {
          @include flex(row, space-evenly, center, 80%);
          flex-wrap: wrap;
          gap: 2rem;
          .projectCards {
            width: 200px;
            height: 300px;
            background-color: #2f2a3a;
            border-radius: 5%;
            box-shadow: 10px 10px 5px 0px rgba(51, 45, 61, 0.75);
            -webkit-box-shadow: 10px 10px 5px 0px rgba(51, 45, 61, 0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(51, 45, 61, 0.75);

            .project_heading {
              @include font("archivo-black", 17px);
              color: #fec8ca;
              font-weight: 100;
              text-align: center;
              padding: 15px;
              
            }

            &:hover {
              cursor: pointer;
              font-size: 30px;
              background-color: #45487a;
              width: 250px;
              height: 350px;
              transition: 1s;
            }

            /* .projectCards {
              .modal {
                display: none; //Hidden by default
                position: fixed; //Stay in place
                z-index: 1; //Sit on top
                left: 0;
                top: 0;
                width: 100%; //Full width
                height: 100%; //Full height
                overflow: auto; //Enable scroll if needed
                background-color: rgb(0, 0, 0); //Fallback color
                background-color: rgba(0, 0, 0, 0.4); //Black w/ opacity

                .modal-content {
                  background-color: #fefefe;
                  margin: 15% auto; //15% from the top and centered
                  padding: 20px;
                  border: 1px solid #888;
                  width: 80%; //Could be more or less, depending on screen size
                }

                .close {
                  color: #aaa;
                  float: right;
                  font-size: 28px;
                  font-weight: bold;
                }

                .close:hover,
                .close:focus {
                  color: black;
                  text-decoration: none;
                  cursor: pointer;
                }
              }
            } */
          }
        }
      }

      #about {
        #aboutHeading {
          @include sectionHeadings();
        }
      }

      #contact {
        #contactHeading {
          @include sectionHeadings();
        }
      }
    }
  }
}
